font-family: "Inter",
sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;

html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}





.top {

	width: 100%;


	background-color: #ffffff;


}

.top nav {
	display: flex;
	align-items: center;

	max-width: 1360px;
	margin: 0 auto;

	justify-content: space-between;
	padding: 0 120px;



}




.marker {
	display: flex;


	gap: 40px;


}

.top nav .marker a {
	text-decoration: none;
	color: #000000;
	line-height: 152px;
	font-size: 16px;
	font-weight: 500;
}

.btn {
	background-color: #469165;
	border-radius: 4px;
	padding: 12.5px 16px;
	color: white;
	cursor: pointer;
}

.content {
	background-image: url("../assets/hero-bg.png");
	width: 100%;
	max-width: 1600px;
	min-height: 674px;

	background-size: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
}

.vtn {
	border-radius: 1000px;
	background-color: #ffffff;
	color: #30B868;
	padding: 8px 12px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	gap: 10px;
	width: auto;
}

.vtn .button-icon {
	min-height: 16px;
	width: auto;
}

.hero h1 {

	font-weight: 700;
	font-size: 72px;
	line-height: 84px;
	color: #ffffff;
}

.text {
	color: #09ca5a;
}

.hero p {
	color: white;
	font-size: 18px;
	line-height: 24px;
}

.section {
	padding top: 32px;
	padding bottom: 179.5;
	gap: 16px;


}

.arfi {
	border-radius: 4px;
	padding: 12px 16px;
	background-color: #469165;
	gap: 16px;
	color: white;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: auto;
}

.button-text {
	width: auto;
	height: 20px;
}

.aspi {
	border-radius: 4px;

	padding: 12px 16px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: auto;
	gap: 16px;

}




.card {
	width: 1360px;

	background-color: #ffffff;
	margin: 0 auto;



}

.card-container {

	text-align: center;
	padding: 0px 120px;
	padding-bottom: 44px;


}

.card-container h1 {
	font-weight: 700;
	font-size: 48px;
	color: #001931;
	list-style: 100px;
}

.card-container p {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}






.card-inside {
	display: flex;
	justify-content: center;

	gap: 16px;
	padding: 69px 131px;
}

.skill-card {


	border-radius: 8px;
	box-shadow: 0px 4px 8px #0000001f;
	background-color: #ffffff;
	max-width: 322px;
	width: 100%;
	padding: 24px;

	align-items: center;
	text-align: center;
	margin: 0% auto;



}







.skill-card h3 {
	font-weight: 600;
	font-size: 24px;
	color: #001931;
	text-align: center;
	margin-bottom: 16px;


}

.card-inside .skill-card img {
	background-color: #F95555;

	padding: 14px;
	margin: 0 auto;
	border-radius: 50%;
	display: block;
	margin-bottom: 29px;





}

.skill-card p {
	color: #627382;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;

}

.structure {

	background-color: #FFFFFF;

	width: 100%;
	min-height: 840px;
}

.structure .display {
	max-width: 1360;
	margin: 0 auto;
	padding: 120px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.solution {

	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #30B868;
	margin-bottom: 16px;
}

.verify h1 {

	font-weight: 700;
	font-size: 48px;
	color: #001931;
	margin-bottom: 16px;
}

.verify p {
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #627382;
}

.list {
	list-style: none;

}

.list li {
	padding-left: 26px;
	position: relative;
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #001931;

}

.list li::before {
	content: "";
	position: absolute;
	left: 0;
	width: 16px;
	min-height: 16px;
	top: 1.88px;
	background-image: url('../assets/CheckCircle.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.ready-section {
	width: 100%;

	padding: 120px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;


}

.ready-container {
	max-width: 1360px;
	width: 100%;
	background-color: #f7f6f2;
	min-height: 384px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
}

.ready-container h2 {
	font-weight: 700;
	font-size: 40px;
	color: #001931;
	margin-bottom: 16px;

}

.ready-container p {

	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #627382;
	margin-bottom: 16px;


}

.footer-section {
	width: 100%;

	background-color: #001931;


	color: white;
	padding: 120px 120px 30px 120px;
	margin: 0%;


}

.footer-container {

	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 80px;
	margin: o auto;
}

.social p {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
}

.social-icons {
	display: flex;
	gap: 16px;
}

hr {
	border: 0;
	border-top: 1px solid rgba(5, 28, 160, 0.274);
	margin-bottom: 30px;

}

.copy {


	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	align-items: center;
	text-align: center;




}

.footer-bottom {
	margin-top: 80px;
}