.top {

	width: 1600px;


	background-color: #ffffff;
	height: fit-content;
	margin: 0 auto;


}

.top nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 16px 120px;


}

.top nav .marker {
	display: flex;
	justify-content: space-around;

	gap: 32px;


}

.top nav .marker a {
	text-decoration: none;
	color: #000000;
	line-height: 152px;
	font-size: 16px;
	font-weight: 500;
}

.btn {
	background-color: #469165;
	border-radius: 4px;
	padding: 12.5px 16px;
	color: white;
	cursor: pointer;
}

.content {
	background-image: url("../assets/hero-bg.png");
	width: 1600px;
	height: 674px;
	background-size: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0px auto;
}

.vtn {
	border-radius: 100px;
	background-color: #ffffff;
	color: #30B868;
	padding: 8px 12px;
	cursor: pointer;
}

.hero h1 {

	font-weight: 700;
	font-size: 72px;
	line-height: 84px;
	color: #ffffff;
}

.text {
	color: #09ca5a;
}

.hero p {
	color: white;
	font-size: 18px;
	line-height: 24px;
}

.section {
	padding top: 32px;
	padding bottom: 179.5;
	gap: 10px;


}

.arfi {
	border-radius: 4px;
	padding: 12px 16px;
	background-color: #469165;
	gap: 10px;
	color: white;
	cursor: pointer;
}

.aspi {
	border-radius: 4px;
	padding: 12px 16px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}




.card {
	width: 1360px;

	background-color: #ffffff;
	margin: 0 auto;



}

.card-container {

	text-align: center;
	padding: 0px 120px;
	padding-bottom: 44px;


}

.card-container h1 {
	font-weight: 700;
	font-size: 48px;
	color: #001931;
	list-style: 100px;
}

.card-container p {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}






.card-inside {
	display: flex;
	justify-content: center;
	padding: 40ox 24px;
	gap: 16px;
	padding: 69px 131px;
}

.skill-card {


	border-radius: 8px;
	box-shadow: 0px 4px 8px #0000001f;
	background-color: #af1a1a;
	width: 322px;
	height: 300px;


}







.skill-card h3 {
	font-weight: 600;
	font-size: 24px;
	color: #001931;
	text-align: center;
	margin-bottom: 16px;


}

.card-inside .skill-card img {
	background-color: #F95555;

	padding: 15px;
	margin: 0 auto;
	border-radius: 50%;
	display: block;
	margin-bottom: 29px;





}

.skill-card p {
	color: #627382;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;

}