.top {

	width: 1600px;
	background-color: #ffffff;
	height: fit-content;


}

.top nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 16px 120px;


}

.top nav .marker {
	display: flex;
	justify-content: space-around;

	gap: 32px;


}

.top nav .marker a {
	text-decoration: none;
	color: #000000;
	line-height: 152px;
	font-size: 16px;
	font-weight: 500px;
}

.btn {
	background-color: #469165;
	border-radius: 4px;
	padding: 12.5px 16px;
	color: white;
	cursor: pointer;
}

.content {
	background-image: url("../assets/hero-bg.png");
	width: 1600px;
	height: 674px;
	background-size: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0px 0px;
}

.vtn {
	border-radius: 100px;
	background-color: #ffffff;
	color: #30B868;
	padding: 8px 12px;
	cursor: pointer;
}

.hero h1 {

	font-weight: 700px;
	font-size: 72px;
	line-height: 84px;
	color: #ffffff;
}

.text {
	color: #30B868;
}

.hero p {
	color: white;
	font-size: 18px;
	line-height: 24px;
}

.section {
	padding top: 32px;
	padding bottom: 179.5;
	gap: 10px;


}

.arfi {
	border-radius: 4px;
	padding: 12px 16px;
	background-color: #469165;
	gap: 10px;
	color: white;
	cursor: pointer;
}

.aspi {
	border-radius: 4px;
	padding: 12px 16px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}